<a class="back-link mb-30" routerLink="/libraries">Назад</a>

@if (library$ | async; as library) {
  <table class="details-table">
    @for (key of libraryKeysArray; track key){
      <tr>
        <th>{{ libraryKeyTranslations.get(key) }}</th>
        <td>{{ getDisplayValue(library, key) }}</td>
      </tr>
    }
  </table>
} @else if (!(library$ | async) && !(loading$ | async)) {
  <app-empty
    [title]="'Ничего не найдено'"
    [message]="' К сожалению, информаци о библиотеке не найдена. Попробуйте вернуться назад и поискать еще.'">
  </app-empty>
}

<app-loader [loading$]="loading$"></app-loader>
